[submodule "bamboo"]
	path = bamboo
	url = https://github.com/bigduu/Bamboo-agent.git
[submodule "bodhi"]
	path = bodhi
	url = https://github.com/bigduu/Bodhi.git
[submodule "lotus"]
	path = lotus
	url = https://github.com/bigduu/Lotus.git
[submodule "pavilion"]
	path = pavilion
	url = https://github.com/bigduu/Pavilion.git
